<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu page-header-fixed {% if ul_page_sidebar_menu_class %}{{ ul_page_sidebar_menu_class }}{% endif %}" data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper hide">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                    <span></span>
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="nav-item start ">
                <a href="{{ path('index') }}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Painel</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="{{ path('cash_flow_index') }}" class="nav-link nav-toggle">
                    <i class="icon-social-dribbble"></i>
                    <span class="title">{{ 'cashFlow.title.menu'|trans }}</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="{{ path('bill_index') }}" class="nav-link nav-toggle">
                    <i class="icon-tag"></i>
                    <span class="title">{{ 'bill.title.menu'|trans }}</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="{{ path('bill_plan_index') }}" class="nav-link nav-toggle">
                    <i class="icon-notebook"></i>
                    <span class="title">{{ 'billPlan.title.menu'|trans }}</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="{{ path('bill_plan_category_index') }}" class="nav-link nav-toggle">
                    <i class="icon-notebook"></i>
                    <span class="title">{{ 'billPlanCategory.title.menu'|trans }}</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="{{ path('bank_index') }}" class="nav-link nav-toggle">
                    <i class="icon-layers"></i>
                    <span class="title">{{ 'bank.title.menu'|trans }}</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="{{ path('payment_method_index') }}" class="nav-link nav-toggle">
                    <i class="icon-settings"></i>
                    <span class="title">{{ 'paymentMethod.title.menu'|trans }}</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>