{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ 'panel_home.title.menu'|trans }}{% endblock %}

{% block body %}

    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="{{ path('bill_new') }}">
                <div class="visual">
                    <i class="icon-wallet"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span class="fa fa-plus"></span>
                    </div>
                    <div class="desc"><span class="icon-wallet"></span> {{ 'bill.title.new'|trans }}</div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="{{ path('bill_plan_new') }}">
                <div class="visual">
                    <i class="icon-list"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span class="fa fa-plus"></span>
                    </div>
                    <div class="desc"><span class="fa fa-user"></span> {{ 'billPlan.title.new'|trans }}</div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">

        <!-- *************** DESPESAS ************** -->

        <div class="col-md-6 col-sm-6">
            {% embed 'partials/_default_dashboard_portlet_bill.html.twig' with {
            caption_subject: 'Contas A Pagar: Vencidas',
            caption_helper: '',
            bills: toPayOverdue,
            billsTotal: toPayOverdueTotal,
            font_color: 'font-red'
            } %}
                {% block thead %}
                    <tr class="uppercase">
                        <th>{{ 'bill.fields.description'|trans }}</th>
                        <th>{{ 'billInstallments.fields.dueDateAt'|trans }}</th>
                        <th>{{ 'billInstallments.fields.amount'|trans }}</th>
                        <th>#</th>
                    </tr>
                {% endblock %}
                {% block tbody %}
                    {% for bill in toPayOverdue %}
                        {% for installment in bill.billInstallments %}
                            <tr>
                                <td class="highlight">
                                    <div class="danger"></div>
                                    <a href="javascript:;"> {{ bill.description }} </a>
                                </td>
                                <td>{{ installment.dueDateAt|date }}</td>
                                <td>
                                <span class="label label-sm label-danger">
                                    {{ installment.amount|number_format }}
                                </span>
                                </td>
                                <td>
                                    <a href="{{ path('bill_edit', {id: bill.id}) }}"
                                       class="btn btn-outline btn-sm green">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-6 col-sm-6">
            {% embed 'partials/_default_dashboard_portlet_bill.html.twig' with {
            caption_subject: 'Contas A Pagar',
            caption_helper: '(Pr칩ximos 30 dias)',
            bills: toPay,
            billsTotal: toPayTotal,
            font_color: 'font-red'
            } %}
                {% block thead %}
                    <tr class="uppercase">
                        <th>{{ 'bill.fields.description'|trans }}</th>
                        <th>{{ 'billInstallments.fields.dueDateAt'|trans }}</th>
                        <th>{{ 'billInstallments.fields.amount'|trans }}</th>
                        <th>#</th>
                    </tr>
                {% endblock %}
                {% block tbody %}
                    {% for bill in toPay %}
                        {% for installment in bill.billInstallments %}
                            <tr>
                                <td class="highlight">
                                    <div class="warning"></div>
                                    <a href="javascript:;"> {{ bill.description }} </a>
                                </td>
                                <td>{{ installment.dueDateAt|date }}</td>
                                <td>
                                <span class="label label-sm label-warning">
                                    {{ installment.amount|number_format }}
                                </span>
                                </td>
                                <td>
                                    <a href="{{ path('bill_edit', {id: bill.id}) }}"
                                       class="btn btn-outline btn-sm green">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>

        {#<div class="col-md-6 col-sm-6">
            {% embed 'partials/_default_dashboard_portlet_bill.html.twig' with {
            caption_subject: 'Contas A Pagar: Pago',
            caption_helper: '(30 dias atr치s)',
            bills: paid,
            billsTotal: paidTotal,
            font_color: 'font-red'
            } %}
                {% block thead %}
                    <tr class="uppercase">
                        <th>{{ 'bill.fields.description'|trans }}</th>
                        <th>{{ 'billInstallments.fields.paymentDateAt'|trans }}</th>
                        <th>{{ 'billInstallments.fields.amountPaid'|trans }}</th>
                        <th>#</th>
                    </tr>
                {% endblock %}
                {% block tbody %}
                    {% for bill in paid %}
                        {% for installment in bill.billInstallments %}
                            <tr>
                                <td class="highlight">
                                    <div class="success" style="border-left: 2px solid #26C281!important"></div>
                                    <a href="javascript:;"> {{ bill.description }} </a>
                                </td>
                                <td>{{ installment.paymentDateAt|date }}</td>
                                <td>
                                <span class="label label-sm label-success bg-green-jungle">
                                    {{ installment.amountPaid|number_format }}
                                </span>
                                </td>
                                <td>
                                    <a href="{{ path('bill_edit', {id: bill.id}) }}"
                                       class="btn btn-outline btn-sm green">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>#}

        <!-- *************** FIM DESPESAS ************** -->

        <!-- *************** RECEITAS ************** -->

        <div class="col-md-6 col-sm-6">
            {% embed 'partials/_default_dashboard_portlet_bill.html.twig' with {
            caption_subject: 'Contas A Receber: Vencidas',
            caption_helper: '',
            bills: overdue,
            billsTotal: overdueTotal,
            font_color: 'font-green'
            } %}
                {% block thead %}
                    <tr class="uppercase">
                        <th>{{ 'bill.fields.description'|trans }}</th>
                        <th>{{ 'billInstallments.fields.dueDateAt'|trans }}</th>
                        <th>{{ 'billInstallments.fields.amount'|trans }}</th>
                        <th>#</th>
                    </tr>
                {% endblock %}
                {% block tbody %}
                    {% for bill in overdue %}
                        {% for installment in bill.billInstallments %}
                            <tr>
                                <td class="highlight">
                                    <div class="danger"></div>
                                    <a href="javascript:;"> {{ bill.description }} </a>
                                </td>
                                <td>{{ installment.dueDateAt|date }}</td>
                                <td>
                                <span class="label label-sm label-danger">
                                    {{ installment.amount|number_format }}
                                </span>
                                </td>
                                <td>
                                    <a href="{{ path('bill_edit', {id: bill.id}) }}"
                                       class="btn btn-outline btn-sm green">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="col-md-6 col-sm-6">
            {% embed 'partials/_default_dashboard_portlet_bill.html.twig' with {
            caption_subject: 'Contas A Receber',
            caption_helper: '(Pr칩ximos 30 dias)',
            bills: toReceive,
            billsTotal: toReceiveTotal,
            font_color: 'font-green'
            } %}
                {% block thead %}
                    <tr class="uppercase">
                        <th>{{ 'bill.fields.description'|trans }}</th>
                        <th>{{ 'billInstallments.fields.dueDateAt'|trans }}</th>
                        <th>{{ 'billInstallments.fields.amount'|trans }}</th>
                        <th>#</th>
                    </tr>
                {% endblock %}
                {% block tbody %}
                    {% for bill in toReceive %}
                        {% for installment in bill.billInstallments %}
                            <tr>
                                <td class="highlight">
                                    <div class="warning"></div>
                                    <a href="javascript:;"> {{ bill.description }} </a>
                                </td>
                                <td>{{ installment.dueDateAt|date }}</td>
                                <td>
                                <span class="label label-sm label-warning">
                                    {{ installment.amount|number_format }}
                                </span>
                                </td>
                                <td>
                                    <a href="{{ path('bill_edit', {id: bill.id}) }}"
                                       class="btn btn-outline btn-sm green">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>

        {#<div class="col-md-6 col-sm-6">
            {% embed 'partials/_default_dashboard_portlet_bill.html.twig' with {
            caption_subject: 'Contas A Receber: Recebidas',
            caption_helper: '(30 dias atr치s)',
            bills: received,
            billsTotal: receivedTotal,
            font_color: 'font-green'
            } %}
                {% block thead %}
                    <tr class="uppercase">
                        <th>{{ 'bill.fields.description'|trans }}</th>
                        <th>{{ 'billInstallments.fields.paymentDateAt'|trans }}</th>
                        <th>{{ 'billInstallments.fields.amountPaid'|trans }}</th>
                        <th>#</th>
                    </tr>
                {% endblock %}
                {% block tbody %}
                    {% for bill in received %}
                        {% for installment in bill.billInstallments %}
                            <tr>
                                <td class="highlight">
                                    <div class="success" style="border-left: 2px solid #26C281!important"></div>
                                    <a href="javascript:;"> {{ bill.description }} </a>
                                </td>
                                <td>{{ installment.paymentDateAt|date }}</td>
                                <td>
                                <span class="label label-sm label-success bg-green-jungle">
                                    {{ installment.amountPaid|number_format }}
                                </span>
                                </td>
                                <td>
                                    <a href="{{ path('bill_edit', {id: bill.id}) }}"
                                       class="btn btn-outline btn-sm green">
                                        <span class="fa fa-edit"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>#}

        <!-- *************** FIM RECEITAS ************** -->

    </div>
{% endblock %}