{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel panel-default">

        <div class="panel-heading">

            <h3 class="pull-left">
                <i class="glyphicon glyphicon-list-alt"></i> {{ 'billPlanCategory.title.edit'|trans }}
            </h3>

            <div class="pull-right" style="padding-top: 20px;">

                {{ form_start(form_delete) }}
                {{ form_widget(form_delete) }}

                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon glyphicon-trash"></span>
                    {{ 'form.link.delete'|trans }}
                </button>
                <a href="{{ path('bill_plan_category_index') ~ pagination_helper.buildQuery }}" class="btn btn-info">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> {{ 'form.link.go_back'|trans }}
                </a>

                {{ form_end(form_delete) }}

            </div>

            <div class="clearfix"></div>

        </div>

        <div class="panel-body">

            {{ form_start(form, {'action': path('bill_plan_category_edit', {id : billPlanCategory.id}) ~ pagination_helper.buildQuery, 'attr' : {'class' : '', 'novalidate': 'novalidate'}}) }}

            {{ form_errors(form) }}

            {{ include('partials/alerts.html.twig') }}

            <div class="row">
                {{ form_row(form.description, {'attr': {'autofocus': true}}) }}
                {{ form_row(form.billCategory) }}
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    {{ form_widget(form.buttons.save_and_keep, {'attr' : {'class' : 'btn-primary'}}) }}
                    {{ form_widget(form.buttons.save_and_new, {'attr' : {'class' : 'btn-primary'}}) }}
                    {{ form_widget(form.buttons.save_and_close, {'attr' : {'class' : 'btn-primary'}}) }}
                </div>
            </div>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}