{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel panel-default">

        <div class="panel-heading">

            <h3 class="pull-left">
                <i class="glyphicon glyphicon-list-alt"></i> {{ 'bill.title.edit'|trans }}
            </h3>

            <div class="pull-right" style="padding-top: 20px;">

                {{ form_start(form_delete) }}
                {{ form_widget(form_delete) }}

                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon glyphicon-trash"></span>
                    {{ 'form.link.delete'|trans }}
                </button>
                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery }}" class="btn btn-info">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> {{ 'form.link.go_back'|trans }}
                </a>

                {{ form_end(form_delete) }}

            </div>

            <div class="clearfix"></div>

        </div>

        <div class="panel-body">

            {{ form_start(form, {'action': path('bill_edit', {id : bill.id}) ~ pagination_helper.buildQuery, 'attr' : {'class' : '', 'novalidate': 'novalidate'}}) }}

            {{ form_errors(form) }}

            {{ include('partials/alerts.html.twig') }}

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
                </li>
                <li role="presentation">
                    <a href="#parcelas" aria-controls="parcelas" role="tab" data-toggle="tab">Parcelas</a>
                </li>
            </ul>

            <br>

            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="dados">

                    <div class="row">
                        {{ form_row(form.billCategory, {'attr': {'autofocus': true}}) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.billPlan) }}
                        {{ form_row(form.choices.bank) }}
                        {{ form_row(form.note) }}
                    </div>

                </div>

                <div role="tabpanel" class="tab-pane" id="parcelas">

                    <div id="installments" class="panel panel-default" data-prototype="{{ form_widget(form.billInstallments.vars.prototype)|e('html_attr') }}">
                        {% for billInstallment in form.billInstallments %}
                            <div class="panel-body">
                                {{ form_widget(billInstallment) }}
                            </div>
                        {% endfor %}
                    </div>

                </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    {{ form_widget(form.buttons.save_and_keep, {'attr' : {'class' : 'btn-primary'}}) }}
                    {{ form_widget(form.buttons.save_and_new, {'attr' : {'class' : 'btn-primary'}}) }}
                    {{ form_widget(form.buttons.save_and_close, {'attr' : {'class' : 'btn-primary'}}) }}
                </div>
            </div>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

{% block javascripts %}

    <script>
        jQuery(document).ready(function () {
            installmentsInit();
        });
    </script>

{% endblock %}