{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ 'bill.title.edit'|trans }}{% endblock %}
{% block page_title %}{{ 'bill.title.menu'|trans }}{% endblock %}

{% block body %}

    <div class="portlet light bordered">

        <div class="portlet-title">

            <div class="caption">
                <i class="icon-note font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">{{ 'bill.title.edit'|trans }}</span>
            </div>

            <div class="actions">
                {{ form_start(form_delete) }}
                {{ form_widget(form_delete) }}
                <button type="submit" class="btn btn-danger">
                    <span class="fa fa-trash"></span>
                    {{ 'form.link.delete'|trans }}
                </button>
                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery }}"
                   class="btn blue-hoki btn-outline sbold">
                    <span class="fa fa-arrow-circle-left"></span> {{ 'form.link.go_back'|trans }}
                </a>
                {{ form_end(form_delete) }}
            </div>

        </div>

        <div class="portlet-body form">

            {{ form_start(form, {'action': path('bill_edit', {id : bill.id}) ~ pagination_helper.buildQuery, 'attr' : {'class' : '', 'novalidate': 'novalidate'}}) }}

            {{ form_errors(form) }}

            {{ include('partials/alerts.html.twig') }}

            <div class="form-body">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
                    </li>
                    <li role="presentation">
                        <a href="#parcelas" aria-controls="parcelas" role="tab" data-toggle="tab">Parcelas</a>
                    </li>
                    <li role="presentation">
                        <a href="#files" aria-controls="files" role="tab"
                           data-toggle="tab">{{ 'billFiles.title.menu'|trans }}</a>
                    </li>
                </ul>

                <br>

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="dados">

                        <div class="row">
                            {{ form_row(form.billCategory, {'attr': {'autofocus': true}}) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.billPlan) }}
                            {{ form_row(form.choices.bank) }}
                            {{ form_row(form.note) }}
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane" id="parcelas">

                        <div class="row">
                            <div class="col-md-12">
                                <a href="#" class="btn green btn-outline btn-sm pull-right" data-toggle="modal"
                                   data-target="#generateInstallment">
                                    <i class="fa fa-tasks"></i>
                                    {{ 'billInstallments.generate.title'|trans }}
                                </a>
                            </div>
                        </div>

                        <br>

                        <div id="installments"
                             data-prototype="{{ form_widget(form.billInstallments.vars.prototype)|e('html_attr') }}">
                            {% for billInstallment in form.billInstallments %}
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {{ form_widget(billInstallment) }}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="portlet light bordered" id="panel_add_installment">
                                <div class="portlet-body">
                                    <a href="#" class="btn green btn-outline col-md-12" id="btn_add_installment">
                                        <span class="fa fa-plus"></span>
                                        {{ 'billInstallments.action.new'|trans }}
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div id="files" role="tabpanel" class="tab-pane">

                        <div id="prototype_files"
                             data-prototype="{{ form_widget(form.billFiles.vars.prototype)|e('html_attr') }}">

                            {% set i = 0 %}
                            {% for billFile in form.billFiles %}
                                {% set link_file = '<a href="'~vich_uploader_asset(bill.billFiles.get(i),'file')~'" target="_blank">'~bill.billFiles.get(i).fileName~'</a>' %}
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        {{ form_row(billFile.file, {'label' : link_file}) }}
                                    </div>
                                </div>
                                {% set i = i + 1 %}
                            {% endfor %}

                            <div class="portlet light bordered" id="panel_add_file">
                                <div class="portlet-body">
                                    <a href="#" class="btn green btn-outline col-md-12" id="btn_add_file">
                                        <span class="fa fa-plus"></span>
                                        {{ 'billFiles.action.new'|trans }}
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="form-actions">
                {{ include('partials/default_form_actions.html.twig') }}
            </div>

            {{ form_end(form) }}

            {{ include('bill/installment_modal.html.twig') }}

        </div>

    </div>

{% endblock %}

{% block javascripts %}

    <script>
        jQuery(document).ready(function () {
            installmentsInit();
            filesInit();
        });
    </script>

{% endblock %}