{% extends 'base.html.twig' %}

{% block page_title %}{{ 'bill.title.menu'|trans }}{% endblock %}

{% block body %}

    <div class="portlet light bordered">

        <div class="portlet-title">

            <div class="caption">
                <i class="icon-note font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">{{ 'bill.title.edit'|trans }}</span>
            </div>

            <div class="actions">
                {{ form_start(form_delete) }}
                {{ form_widget(form_delete) }}
                <button type="submit" class="btn btn-danger">
                    <span class="fa fa-trash"></span>
                    {{ 'form.link.delete'|trans }}
                </button>
                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery }}" class="btn default">
                    <span class="fa fa-arrow-circle-left"></span> {{ 'form.link.go_back'|trans }}
                </a>
                {{ form_end(form_delete) }}
            </div>

        </div>

        <div class="portlet-body form">

            {{ form_start(form, {'action': path('bill_edit', {id : bill.id}) ~ pagination_helper.buildQuery, 'attr' : {'class' : '', 'novalidate': 'novalidate'}}) }}

            {{ form_errors(form) }}

            {{ include('partials/alerts.html.twig') }}

            <div class="form-body">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
                    </li>
                    <li role="presentation">
                        <a href="#parcelas" aria-controls="parcelas" role="tab" data-toggle="tab">Parcelas</a>
                    </li>
                </ul>

                <br>

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="dados">

                        <div class="row">
                            {{ form_row(form.billCategory, {'attr': {'autofocus': true}}) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.billPlan) }}
                            {{ form_row(form.choices.bank) }}
                            {{ form_row(form.note) }}
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane" id="parcelas">

                        <div id="installments" class="panel panel-default"
                             data-prototype="{{ form_widget(form.billInstallments.vars.prototype)|e('html_attr') }}">
                            {% for billInstallment in form.billInstallments %}
                                <div class="panel-body">
                                    {{ form_widget(billInstallment) }}
                                </div>
                            {% endfor %}
                        </div>

                    </div>

                </div>

            </div>

            <div class="form-actions">
                {{ form_widget(form.buttons.save_and_keep, {'attr' : {'class' : 'green'}}) }}
                {{ form_widget(form.buttons.save_and_new, {'attr' : {'class' : 'green'}}) }}
                {{ form_widget(form.buttons.save_and_close, {'attr' : {'class' : 'green'}}) }}
            </div>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

{% block javascripts %}

    <script>
        jQuery(document).ready(function () {
            installmentsInit();
        });
    </script>

{% endblock %}