{% extends 'base.html.twig' %}

{% block body %}

    <div class="panel panel-default">

        <div class="panel-heading">

            <h3 class="pull-left">
                <i class="glyphicon glyphicon-list-alt"></i> {{ 'bill.title.list'|trans }}
            </h3>

            <div class="pull-right" style="padding-top: 20px;">
                <a href="{{ path('bill_new') ~ pagination_helper.buildQuery }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span> {{ 'bill.action.new'|trans }}
                </a>
            </div>

            <div class="clearfix"></div>

        </div>

        <form class="form-inline" role="search" method="get" action="{{ path('bill_index') }}" id="data_table">

            <div class="panel-body">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ 'form.placeholder.search'|trans }}"
                           name="search"
                           value="{% if app.request.query.has('search') %}{{ app.request.query.get('search') }}{% endif %}">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control js-datepicker"
                           placeholder="{{ 'form.placeholder.date_start'|trans }}"
                           name="date_start"
                           value="{% if app.request.query.has('date_start') %}{{ app.request.query.get('date_start') }}{% endif %}">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control js-datepicker"
                           placeholder="{{ 'form.placeholder.date_end'|trans }}"
                           name="date_end"
                           value="{% if app.request.query.has('date_end') %}{{ app.request.query.get('date_end') }}{% endif %}">
                </div>

                <div class="form-group">
                    <select class="form-control" name="bill_category" id="bill_category" onchange="submit();">
                        <option value="">{{ 'billCategory.title.menu'|trans }}</option>
                        {% for type in bill_category %}
                            <option value="{{ type.id }}"
                                    {% if app.request.query.has('bill_category') %}{% if app.request.query.get('bill_category') == type.id %}selected{% endif %}{% endif %}>{{ type.description }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" name="bill_status" id="bill_status" onchange="submit();">
                        <option value="">{{ 'billStatus.title.menu'|trans }}</option>
                        {% for status in bill_status %}
                            <option value="{{ status.id }}"
                                    {% if app.request.query.has('bill_status') %}{% if app.request.query.get('bill_status') == status.id %}selected{% endif %}{% endif %}>{{ status.description }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control col-md-4"
                           placeholder="{{ 'form.placeholder.num_items'|trans }}"
                           name="num_items"
                           value="{{ app.request.query.get('num_items', pagination_helper.routeParams('num_items')) }}"
                           min="5" max="500">
                </div>

                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary form-control">{{ 'form.submit_actions.search'|trans }}</button>
                </div>

                <div class="form-group">
                    <a href="{{ path('bill_index') }}"
                       class="btn btn-primary form-control">{{ 'form.submit_actions.reset'|trans }}</a>
                </div>

                <div class="clearfix"></div>

                <br>

                {{ include('partials/alerts.html.twig') }}

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('createdAt') }}">
                                    {{ 'bill.fields.createdAt'|trans }}
                                </a>
                            </th>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('description') }}">
                                    {{ 'bill.fields.description'|trans }}
                                </a>
                            </th>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('billCategory.description') }}">
                                    {{ 'billCategory.title.menu'|trans }}
                                </a>
                            </th>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('amount') }}">
                                    {{ 'bill.fields.amount'|trans }}
                                </a>
                            </th>
                            <th>{{ 'billInstallments.title.next_payment'|trans }}</th>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('billStatus.description') }}">
                                    {{ 'billStatus.title.menu'|trans }}
                                </a>
                            </th>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('billPlan.description') }}">
                                    {{ 'billPlan.title.menu'|trans }}
                                </a>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('bank.description') }}">
                                    {{ 'bank.title.menu'|trans }}
                                </a>
                            </th>
                            <th>{{ 'table.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bill in bills %}

                            <tr
                                    {% if bill.billCategory.referency == 'despesa' and bill.isDateOverDue and bill.billstatus.referency == 'em_aberto' %}
                                        class="warning text-danger"
                                        style="font-weight: bold"
                                    {% endif %}
                            >
                                <td>{{ bill.createdAt|date('d/m/Y') }}</td>
                                <td>
                                    <a href="{{ path('bill_edit', {id: bill.id}) ~ pagination_helper.buildQuery }}">{{ bill.description }}</a>
                                </td>
                                <td
                                        {% if bill.billCategory.referency == 'despesa' %}
                                            class="text-danger"
                                        {% elseif bill.billCategory.referency == 'receita' %}
                                            class="text-success"
                                        {% endif %}
                                >{{ bill.billCategory.description }}</td>
                                <td
                                        {% if bill.billCategory.referency == 'despesa' %}
                                            class="text-danger"
                                        {% elseif bill.billCategory.referency == 'receita' %}
                                            class="text-success"
                                        {% endif %}
                                >{{ bill.amount }}</td>
                                <td>
                                    {% if bill.billStatus.referency == 'em_aberto' %}
                                        {% set installmentNextPayment = bill.getInstallmentNextPayment %}
                                        {% if installmentNextPayment %}
                                            {{ installmentNextPayment.dueDateAt|date('d/m/Y') }} R$: {{ installmentNextPayment.amount|number_format('2',',','.') }} -
                                            {% set installment_number = bill.getTotalInstallmentsPaid + 1 %}
                                            {{ installment_number }} / {{ bill.billInstallments|length }}
                                        {% endif %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td
                                        {% if bill.billStatus.referency == 'em_aberto' %}
                                            class="text-danger"
                                        {% elseif bill.billStatus.referency == 'pago' %}
                                            class="text-success"
                                        {% endif %}
                                >
                                    {% if bill.isDateOverDue %}
                                        {{ 'billStatus.dateOverDue'|trans }}
                                    {% else %}
                                        {{ bill.billStatus.description }}
                                    {% endif %}
                                </td>
                                <td>{{ bill.billPlan.descriptionWithPlanCategory }}</td>
                                <td>{% if bill.bank %} {{ bill.bank.description }} {% else %}-{% endif %}</td>
                                <td>
                                    <div class="item-actions">
                                        <a href="{{ path('bill_edit', {id: bill.id}) ~ pagination_helper.buildQuery }}"
                                           class="btn btn-sm btn-primary">
                                            <i class="glyphicon glyphicon-edit"></i> {{ 'action.edit'|trans }}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9" align="center">{{ 'table.not_found'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="navigation text-center">
                    {{ pagerfanta(bills, 'twitter_bootstrap3', { routeName: 'bill_index', routeParams: app.request.query.all }) }}
                </div>

            </div>
        </form>

    </div>

{% endblock %}