{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ 'bill.title.list'|trans }}{% endblock %}
{% block page_title %}{{ 'bill.title.menu'|trans }}{% endblock %}

{% block body %}

    <div class="portlet light bordered">

        <div class="portlet-title">

            <div class="caption">
                <i class="icon-list font-green-sharp"></i>
                <span class="caption-subject font-green-sharp bold uppercase">{{ 'bill.title.list'|trans }}</span>
            </div>

            <div class="actions btn-set">
                <a href="{{ path('bill_new') ~ pagination_helper.buildQuery }}" class="btn green">
                    <i class="fa fa-plus"></i></span> {{ 'bill.action.new'|trans }}
                </a>
            </div>

        </div>

        <form class="form-inline" role="search" method="get" action="{{ path('bill_index') }}" id="data_table">

            <div class="portlet-body">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="{{ 'form.placeholder.search'|trans }}"
                           name="search"
                           value="{% if app.request.query.has('search') %}{{ app.request.query.get('search') }}{% endif %}">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control js-datepicker"
                           placeholder="{{ 'form.placeholder.date_start'|trans }}"
                           name="date_start"
                           value="{% if app.request.query.has('date_start') %}{{ app.request.query.get('date_start') }}{% endif %}">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control js-datepicker"
                           placeholder="{{ 'form.placeholder.date_end'|trans }}"
                           name="date_end"
                           value="{% if app.request.query.has('date_end') %}{{ app.request.query.get('date_end') }}{% endif %}">
                </div>

                <div class="form-group">
                    <select class="form-control" name="bill_category" id="bill_category" onchange="submit();">
                        <option value="">{{ 'billCategory.title.menu'|trans }}</option>
                        {% for type in bill_category %}
                            <option value="{{ type.id }}"
                                    {% if app.request.query.has('bill_category') %}{% if app.request.query.get('bill_category') == type.id %}selected{% endif %}{% endif %}>{{ type.description }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" name="bill_status" id="bill_status" onchange="submit();">
                        <option value="">{{ 'billStatus.title.menu'|trans }}</option>
                        {% for status in bill_status %}
                            <option value="{{ status.id }}"
                                    {% if app.request.query.has('bill_status') %}{% if app.request.query.get('bill_status') == status.id %}selected{% endif %}{% endif %}>{{ status.description }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" name="bank" id="bank" onchange="submit();">
                        <option value="">{{ 'bank.title.menu'|trans }}</option>
                        {% for bank in banks %}
                            <option value="{{ bank.id }}"
                                    {% if app.request.query.has('bank') %}{% if app.request.query.get('bank') == bank.id %}selected{% endif %}{% endif %}>{{ bank.description }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <input type="number" class="form-control col-md-4"
                           placeholder="{{ 'form.placeholder.num_items'|trans }}"
                           name="num_items"
                           value="{{ app.request.query.get('num_items', pagination_helper.routeParams('num_items')) }}"
                           min="5" max="500">
                </div>

                <div class="form-group">
                    <button type="submit"
                            class="btn green btn-outline form-control"><i
                                class="fa fa-search"></i> {{ 'form.submit_actions.search'|trans }}</button>
                </div>

                <div class="form-group">
                    <a href="{{ path('bill_index') }}"
                       class="btn green btn-outline form-control"><i
                                class="fa fa-times"></i> {{ 'form.submit_actions.reset'|trans }}</a>
                </div>

                <div class="clearfix"></div>

                <br>

                {{ include('partials/alerts.html.twig') }}

                <div class="table-responsive dataTables_wrapper no-footer">
                    <table class="table table-striped table-bordered _table-advance table-hover">
                        <thead>
                        <tr>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('description') }}">
                                    {{ 'bill.fields.description'|trans }}
                                </a>
                            </th>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('billCategory.description') }}">
                                    {{ 'billCategory.title.menu'|trans }}
                                </a>
                            </th>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('amount') }}">
                                    {{ 'bill.fields.amount'|trans }}
                                </a>
                            </th>
                            <th>{{ 'billInstallments.title.next_payment'|trans }}</th>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('billStatus.description') }}">
                                    {{ 'billStatus.title.menu'|trans }}
                                </a>
                            </th>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('billPlan.description') }}">
                                    {{ 'billPlan.title.menu'|trans }}
                                </a>
                            <th>
                                <a href="{{ path('bill_index') ~ pagination_helper.buildQuery('sorting') ~ pagination_helper.sortingFieldQuery('bank.description') }}">
                                    {{ 'bank.title.menu'|trans }}
                                </a>
                            </th>
                            <th>{{ 'table.actions'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bill in bills %}

                            <tr>
                                <td>
                                    <a href="{{ path('bill_edit', {id: bill.id}) ~ pagination_helper.buildQuery }}">{{ bill.description }}</a>
                                </td>
                                <td>
                                    {#<span class="label label-{% if bill.billCategory.referency == 'despesa' %}danger{% else %}success{% endif %}">
                                         {{ bill.billCategory.description }}
                                    </span>#}
                                    {{ bill.billCategory.description }}
                                </td>
                                <td>{{ bill.amount }}</td>
                                <td>
                                    {% if bill.billStatus.referency == 'em_aberto' %}
                                        {% set installmentNextPayment = bill.getInstallmentNextPayment %}
                                        {{ installmentNextPayment.dueDateAt|date('d/m/Y') }} R$: {{ installmentNextPayment.amount }} -
                                        {% set installment_number = bill.getTotalInstallmentsPaid + 1 %}
                                        {{ installment_number }}/{{ bill.billInstallments.count }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if bill.isDateOverDue %}
                                        <span class="label label-sm label-danger">{{ 'billStatus.dateOverDue'|trans }}</span>
                                    {% else %}
                                        <span class="label label-sm label-{% if bill.billStatus.referency == 'pago' %}success bg-green-jungle{% else %}warning{% endif %}">
                                            {{ bill.billStatus.description }}
                                        </span>
                                    {% endif %}
                                </td>
                                <td>{{ bill.billPlan.descriptionWithPlanCategory }}</td>
                                <td>{% if bill.bank %} {{ bill.bank.description }} {% else %}-{% endif %}</td>
                                <td>
                                    <div class="item-actions">
                                        <a href="{{ path('bill_edit', {id: bill.id}) ~ pagination_helper.buildQuery }}"
                                           class="btn btn-sm green btn-outline">
                                            <i class="fa fa-pencil"></i> {{ 'action.edit'|trans }}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9" align="center">{{ 'table.not_found'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>

                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div style="padding-top: 0.755em">
                            {{ 'pagination.default'|trans(
                            {
                                'currentPageOffsetStart' : bills.currentPageOffsetStart,
                                'currentPageOffsetEnd' : bills.currentPageOffsetEnd,
                                'nbResults' : bills.nbResults
                            })
                            }}
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div style="text-align: right">
                            {{ pagerfanta(bills, 'twitter_bootstrap3', { routeName: 'bill_index', routeParams: app.request.query.all }) }}
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </div>

{% endblock %}