{% extends 'base.html.twig' %}

{% block body %}

    <style>
        table td {
            text-align: center;
        }

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
            border: 0;
            border-top: 1px solid #ccc;
        }
        .bold{
            font-weight: bold;
        }
        .vcenter {
            vertical-align:middle!important;
        }
        
    </style>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">

            <thead>
            <th>&nbsp;</th>
            {% for i in 1..12 %}
                <td align="center" class="bold">{{ i |date("now"|date('Y') ~ '-' ~ i ~ '-' ~ "now"|date('d')) |date('M') }}</td>
            {% endfor %}
            </thead>

            <thead>
            <th class="vcenter">Saldo Final</th>
            {% for i in 1..12 %}

                {% set paid_option = paidOption(i,params.year) %}

                {% if paid_option == 'PAID_AND_NOT_PAID' %}
                    <td>
                        {{ cash_flow_data['saldo_final'][i]|number_format(2,',','.') }}
                        <hr>
                        {{ cash_flow_data['previsao_saldo_final'][i]|number_format(2,',','.') }}
                    </td>
                {% else %}
                    <td>{{ cash_flow_data['previsao_saldo_final'][i]|number_format(2,',','.') }}</td>
                {% endif %}

            {% endfor %}
            </thead>

            <thead>
            <th class="vcenter">Saldo M&ecirc;s Anterior</th>
            {% for i in 1..12 %}
                <td>{{ cash_flow_data['saldo_anterior'][i]|number_format(2,',','.') }}</td>
            {% endfor %}
            </thead>

            <thead>
            <th class="vcenter">Gera&ccedil;&atilde;o de Caixa</th>
            {% for i in 1..12 %}

                {% set paid_option = paidOption(i,params.year) %}

                {% if paid_option == 'PAID_AND_NOT_PAID' %}

                    <td>
                        {{ cash_flow_data['total_paid'][i]|number_format(2,',','.') }}
                        <hr>
                        {{ cash_flow_data['total_not_paid'][i]|number_format(2,',','.') }}
                    </td>

                {% elseif paid_option == 'NOT_PAID' %}
                    <td>{{ cash_flow_data['total_not_paid'][i]|number_format(2,',','.') }}</td>
                {% elseif paid_option == 'PAID' %}
                    <td>{{ cash_flow_data['total_paid'][i]|number_format(2,',','.') }}</td>
                {% endif %}
            {% endfor %}
            </thead>

            {% for bill_category in cash_flow_data['content'] %}

                <thead>
                <th class="vcenter">{{ bill_category[0]['description'] }}</th>

                {% for i in 1..12 %}

                    {% set paid_option = paidOption(i,params.year) %}

                    {% if paid_option == 'PAID_AND_NOT_PAID' %}

                        <td>
                            {{ bill_category['total_bill_category_paid'][i]|number_format(2,',','.') }}
                            <hr>
                            {{ bill_category['total_bill_category_not_paid'][i]|number_format(2,',','.') }}
                        </td>

                    {% elseif paid_option == 'NOT_PAID' %}
                        <td>{{ bill_category['total_bill_category_not_paid'][i]|number_format(2,',','.') }}</td>
                    {% elseif paid_option == 'PAID' %}
                        <td>{{ bill_category['total_bill_category_paid'][i]|number_format(2,',','.') }}</td>
                    {% endif %}

                {% endfor %}
                </thead>

                {% for bill_plan_category in bill_category['bill_plan_categories'] %}

                    <thead>
                    <th class="vcenter">{{ bill_plan_category[0]['description'] }}</th>

                    {% for i in 1..12 %}

                        {% set paid_option = paidOption(i,params.year) %}

                        {% if paid_option == 'PAID_AND_NOT_PAID' %}

                            <td>
                                {{ bill_plan_category[i]['total_paid']|number_format(2,',','.') }}
                                <hr>
                                {{ bill_plan_category[i]['total_not_paid']|number_format(2,',','.') }}
                            </td>

                        {% elseif paid_option == 'NOT_PAID' %}
                            <td>{{ bill_plan_category[i]['total_not_paid']|number_format(2,',','.') }}</td>
                        {% elseif paid_option == 'PAID' %}
                            <td>{{ bill_plan_category[i]['total_paid']|number_format(2,',','.') }}</td>
                        {% endif %}

                    {% endfor %}

                    </thead>

                    {% for bill_plan_key,bill_plan in bill_plan_category['bill_plans'] %}

                        <thead>
                        <th class="vcenter">{{ bill_plan[0]['description'] }}</th>

                        {% for i in 1..12 %}

                            {% set paid_option = paidOption(i,params.year) %}

                            {% if paid_option == 'PAID_AND_NOT_PAID' %}

                                <td>
                                    {{ bill_plan[i]['total_paid']|number_format(2,',','.') }}
                                    <hr>
                                    {{ bill_plan[i]['total_not_paid']|number_format(2,',','.') }}
                                </td>

                            {% elseif paid_option == 'NOT_PAID' %}
                                <td>{{ bill_plan[i]['total_not_paid']|number_format(2,',','.') }}</td>
                            {% elseif paid_option == 'PAID' %}
                                <td>{{ bill_plan[i]['total_paid']|number_format(2,',','.') }}</td>
                            {% endif %}

                        {% endfor %}

                        </thead>

                    {% endfor %}

                {% endfor %}

            {% endfor %}

        </table>
    </div>

{% endblock %}