{% extends 'base.html.twig' %}

{% block body %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">

            <thead>
            <th>&nbsp;</th>
            {% for i in 1..12 %}
                <th>{{ i |date("now"|date('Y') ~ '-' ~ i ~ '-' ~ "now"|date('d')) |date('M') }}</th>
            {% endfor %}
            </thead>

            <thead>
            <th>Saldo Final</th>
            {% for i in 1..12 %}
                <th>&nbsp;</th>
            {% endfor %}
            </thead>

            <thead>
            <th>Saldo M&ecirc;s Anterior</th>

            {% for i in 1..12 %}
                <th>{% if i == 1 %}{{ previous_balance|number_format(2,',','.') }}{% else %}&nbsp;{% endif %}</th>
            {% endfor %}
            </thead>

            <thead>
            <th>Gera&ccedil;&atilde;o de Caixa</th>

            {% for i in 1..12 %}
                <th>0</th>
            {% endfor %}
            </thead>

            {% set totalBillCategoryPaid = [] %}
            {% set totalBillCategoryNotPaid = [] %}

            {% set totalPaid = [] %}
            {% set totalNotPaid = [] %}

            {% set bcaIds = [] %}
            {% set bpcIds = [] %}
            {% set bplIds = [] %}

            {% for bca_val in bill_plans %}

                {% set bill_category_id = bca_val.billPlanCategory.billCategory.id %}

                {% if bill_category_id not in bcaIds %}

                    {% set bcaIds = bcaIds|merge([bill_category_id]) %}

                    <thead class="bg-success">
                    <th>{{ bca_val.billPlanCategory.billCategory.description }}</th>

                    {% for i in 1..12 %}
                        <th>&nbsp;</th>
                    {% endfor %}
                    </thead>

                    {% for bpc_val in bill_plans %}

                        {% if bpc_val.billPlanCategory.id not in bpcIds and bpc_val.billPlanCategory.id == bca_val.billPlanCategory.id %}

                            {% set bpcIds = bpcIds|merge([bpc_val.billPlanCategory.id]) %}

                            <thead>
                            <tr>
                                <th>{{ bpc_val.billPlanCategory.description }}</th>

                                {% set installment_paid = 0 %}
                                {% set installment_not_paid = 0 %}

                                {% for i in 1..12 %}

                                    {% for flow in cash_flow %}

                                        {% if flow.biplc_id == bpc_val.billPlanCategory.id and i == flow.dueDateAt|date('n') and flow.dueDateAt|date('Y') == params.year %}
                                            {% if flow.referency == 'pago' %}
                                                {% set installment_paid = installment_paid + flow.cf_amount_paid %}
                                            {% else %}
                                                {% set installment_not_paid = installment_not_paid + flow.cf_amount %}
                                            {% endif %}
                                        {% endif %}

                                    {% endfor %}

                                    {% set paid_option = '' %}

                                    {% if "now"|date('n') == i and "now"|date('Y') == params.year %}
                                        {% set paid_option = 'PAID_AND_NOT_PAID' %}
                                    {% elseif i > "now"|date('n') and "now"|date('Y') == params.year %}
                                        {% set paid_option = 'NOT_PAID' %}
                                    {% elseif i < "now"|date('n') and "now"|date('Y') == params.year %}
                                        {% set paid_option = 'PAID' %}
                                    {% elseif params.year < "now"|date('Y') %}
                                        {% set paid_option = 'PAID' %}
                                    {% elseif params.year > "now"|date('Y') %}
                                        {% set paid_option = 'NOT_PAID' %}
                                    {% endif %}

                                    {% if totalBillCategoryPaid[('_'~i)][(bill_category_id)] is not defined %}
                                        {% set totalBillCategoryPaid = totalBillCategoryPaid|merge({('_'~i) : {(bill_category_id) : 0}}) %}
                                    {% endif %}

                                    {% if paid_option == 'PAID' or paid_option == 'PAID_AND_NOT_PAID' %}
                                        {% set new_increment_value = totalBillCategoryPaid[('_'~i)][(bill_category_id)] %}
                                        {% set totalBillCategoryPaid = totalBillCategoryPaid|merge({('_'~i) : {(bill_category_id) : (new_increment_value + installment_paid)}})  %}
                                    {% endif %}

                                    {% if totalBillCategoryNotPaid[('_'~i)][(bill_category_id)] is not defined %}
                                        {% set totalBillCategoryNotPaid = totalBillCategoryNotPaid|merge({('_'~i) : {(bill_category_id) : 0}}) %}
                                    {% endif %}

                                    {% if paid_option == 'NOT_PAID' %}
                                        {% set new_increment_value = totalBillCategoryNotPaid[('_'~i)][(bill_category_id)] %}
                                        {% set totalBillCategoryNotPaid = totalBillCategoryNotPaid|merge({('_'~i) : {(bill_category_id) : (new_increment_value + installment_not_paid)}})  %}
                                    {% endif %}

                                    {% if installment_paid is not empty or installment_not_paid is not empty %}
                                        <th>
                                            {% if paid_option == 'PAID_AND_NOT_PAID' %}
                                                {{ installment_paid|number_format('2',',','.') }}
                                                <hr>
                                                {{ installment_not_paid|number_format('2',',','.') }}
                                            {% elseif paid_option == 'PAID' %}
                                                {{ installment_paid|number_format('2',',','.') }}
                                            {% elseif paid_option == 'NOT_PAID' %}
                                                {{ installment_not_paid|number_format('2',',','.') }}
                                            {% endif %}
                                        </th>
                                    {% else %}
                                        <th>&nbsp;</th>
                                    {% endif %}

                                {% endfor %}
                            </tr>
                            </thead>

                        {% endif %}

                    {% endfor %}

                {% endif %}

            {% endfor %}

        </table>
    </div>

{% endblock %}