{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ 'cashFlow.title.menu'|trans }}{% endblock %}
{% block body_class %}page-sidebar-closed{% endblock %}
{% block ul_page_sidebar_menu_class %}page-sidebar-menu-closed{% endblock %}
{% block page_title %}{{ 'cashFlow.title.menu'|trans }}{% endblock %}

{% block body %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered cash-flow-table">

            <thead>
            <tr>
                <th>&nbsp;</th>
                {% for i in 1..12 %}
                    <th class="text-center
                    {% if i == "now"|date('n') %}bg-blue-hoki bg-font-blue-hoki{% else %}bg-blue-hoki bg-font-blue-hoki{% endif %}"
                    >
                        {{ i |date("now"|date('Y') ~ '-' ~ i ~ '-' ~ "now"|date('d')) |date('M') }}
                    </th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            <tr>
                <th class="bg-blue-dark bg-font-blue-dark">Saldo Final</th>
                {% for i in 1..12 %}

                    {% set paid_option = paidOption(i,params.year) %}

                    {% if paid_option == 'PAID_AND_NOT_PAID' %}
                        <th class="text-center bg-blue-hoki bg-font-blue-hoki">
                            {{ cash_flow_data['saldo_final'][i]|number_format(2,',','.') }}
                            <hr>
                            {{ cash_flow_data['previsao_saldo_final'][i]|number_format(2,',','.') }}
                        </th>
                    {% else %}
                        <th class="bg-blue-dark bg-font-blue-dark">
                            {{ cash_flow_data['previsao_saldo_final'][i]|number_format(2,',','.') }}
                        </th>
                    {% endif %}

                {% endfor %}
            </tr>
            </tbody>

            <tbody>
            <tr>
                <th scope="row">Saldo M&ecirc;s Anterior</th>
                {% for i in 1..12 %}
                    {% if i == "now"|date('n') %}
                        <th class="text-center bg-blue-hoki bg-font-blue-hoki">
                            {{ cash_flow_data['saldo_anterior'][i]|number_format(2,',','.') }}
                        </th>
                    {% else %}
                        <th>
                            {{ cash_flow_data['saldo_anterior'][i]|number_format(2,',','.') }}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
            </tbody>

            <tbody>
            <tr>
                <th>Gera&ccedil;&atilde;o de Caixa</th>
                {% for i in 1..12 %}

                    {% set paid_option = paidOption(i,params.year) %}

                    {% if paid_option == 'PAID_AND_NOT_PAID' %}
                        <th class="text-center bg-blue-hoki bg-font-blue-hoki">
                            {{ cash_flow_data['total_paid'][i]|number_format(2,',','.') }}
                            <hr>
                            {{ cash_flow_data['total_not_paid'][i]|number_format(2,',','.') }}
                        </th>
                    {% elseif paid_option == 'NOT_PAID' %}
                        <th>
                            {{ cash_flow_data['total_not_paid'][i]|number_format(2,',','.') }}
                        </th>
                    {% elseif paid_option == 'PAID' %}
                        <th>
                            {{ cash_flow_data['total_paid'][i]|number_format(2,',','.') }}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
            </tbody>

            {% for bill_category in cash_flow_data['content'] %}

                <tbody>
                <tr>
                    <th class="bg-blue-dark bg-font-blue-dark">{{ bill_category[0]['description'] }}</th>

                    {% for i in 1..12 %}

                        {% set paid_option = paidOption(i,params.year) %}

                        {% if paid_option == 'PAID_AND_NOT_PAID' %}

                            <th class="text-center bg-blue-hoki bg-font-blue-hoki">
                                {{ bill_category['total_bill_category_paid'][i]|number_format(2,',','.') }}
                                <hr>
                                {{ bill_category['total_bill_category_not_paid'][i]|number_format(2,',','.') }}
                            </th>

                        {% elseif paid_option == 'NOT_PAID' %}
                            <th class="bg-blue-dark bg-font-blue-dark">
                                {{ bill_category['total_bill_category_not_paid'][i]|number_format(2,',','.') }}
                            </th>
                        {% elseif paid_option == 'PAID' %}
                            <th class="bg-blue-dark bg-font-blue-dark">
                                {{ bill_category['total_bill_category_paid'][i]|number_format(2,',','.') }}
                            </th>
                        {% endif %}

                    {% endfor %}
                </tr>
                </tbody>


                {% for bill_plan_category in bill_category['bill_plan_categories'] %}

                    <tbody>
                    <tr>
                        <th class="bg-grey-cararra bg-font-grey-cararra" style="cursor: pointer" onclick="$('tbody#bpc_{{ bill_plan_category[0]['id'] }}').toggle()">
                            {{ bill_plan_category[0]['description'] }}
                        </th>

                        {% for i in 1..12 %}

                            {% set paid_option = paidOption(i,params.year) %}

                            {% if paid_option == 'PAID_AND_NOT_PAID' %}

                                <th class="text-center bg-blue-hoki bg-font-blue-hoki">
                                    {{ bill_plan_category[i]['total_paid']|number_format(2,',','.') }}
                                    <hr>
                                    {{ bill_plan_category[i]['total_not_paid']|number_format(2,',','.') }}
                                </th>

                            {% elseif paid_option == 'NOT_PAID' %}
                                <th class="bg-grey-cararra bg-font-grey-cararra">
                                    {{ bill_plan_category[i]['total_not_paid']|number_format(2,',','.') }}
                                </th>
                            {% elseif paid_option == 'PAID' %}
                                <th class="bg-grey-cararra bg-font-grey-cararra">
                                    {{ bill_plan_category[i]['total_paid']|number_format(2,',','.') }}
                                </th>
                            {% endif %}

                        {% endfor %}
                    </tr>
                    </tbody>

                    {% for bill_plan_key,bill_plan in bill_plan_category['bill_plans'] %}

                        <tbody style="display: none" id="bpc_{{ bill_plan_category[0]['id'] }}">
                        <tr>
                            <th style="background-color: #fff !important; font-weight: normal">
                                {{ bill_plan[0]['description'] }}
                            </th>

                            {% for i in 1..12 %}

                                {% set paid_option = paidOption(i,params.year) %}

                                {% if paid_option == 'PAID_AND_NOT_PAID' %}

                                    <th class="text-center bg-blue-hoki bg-font-blue-hoki">
                                        {{ bill_plan[i]['total_paid']|number_format(2,',','.') }}
                                        <hr>
                                        {{ bill_plan[i]['total_not_paid']|number_format(2,',','.') }}
                                    </th>

                                {% elseif paid_option == 'NOT_PAID' %}
                                    <th style="background-color: #fff !important; font-weight: normal">
                                        {{ bill_plan[i]['total_not_paid']|number_format(2,',','.') }}
                                    </th>
                                {% elseif paid_option == 'PAID' %}
                                    <th style="background-color: #fff !important; font-weight: normal">
                                        {{ bill_plan[i]['total_paid']|number_format(2,',','.') }}
                                    </th>
                                {% endif %}

                            {% endfor %}
                        </tr>
                        </tbody>

                    {% endfor %}

                {% endfor %}

            {% endfor %}

        </table>
    </div>

{% endblock %}